/* Set Google Font Bungee for the whole page and basic body styles */
body {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #E8E8CA;
    padding: 20px;
}

/* Styles for the form container */
form {
    background-color: #C2BD23;
    padding: 20px;
    border-radius: 20px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styles for form labels */
label.form-label {
    color: #3F5715;
}

/* Styles for main page heading */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #6B6A34;
}

/* Styles for the register section title */
.register-title {
    color: #3F5715;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Bungee', cursive;
}
/* Submit button style */
.btn-primary {
    background-color: #331F0A;
    color: #E8E8CA;
    border-radius: 8px;
}


